<app-tarjeta-lista>
  <div class="container mx-auto">
    <!-- Header -->
    <div class="md:flex md:items-center md:justify-between bg-gradient-to-r from-gray-800 to-gray-700 px-6 py-4 rounded-t">
      <div class="flex items-center">
        <div class="bg-white p-2 rounded-lg shadow-md">
          <img src="assets/svg/categorias.svg" class="icono-tabla">
        </div>
        <div class="ml-4 text-white">
          <h2 class="titulo-tabla">
            Detalles de categoría
          </h2>
          <p class="subtitulo-tabla">{{ categoria?.descripcion }}</p>
        </div>
      </div>
      <div class="flex items-center mt-4 md:mt-0 space-x-3">
        <button (click)="volver()" class="boton-tabla-nuevo">
          <span class="font-medium">Volver</span>
        </button>
      </div>
    </div>

    <!-- Listado de clasificaciones -->
    <div class="bg-white p-6">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <div *ngFor="let clasificacion of clasificaciones" class="bg-gradient-to-r from-secondaryColor to-primaryColor text-white rounded-lg p-5 shadow-md">
          <h3 class="text-xl font-bold mb-2">{{ clasificacion.descripcion }}</h3>
          <p class="text-sm">Puntuación: {{ clasificacion.puntuacion }}</p>
        </div>
      </div>
    </div>
  </div>
</app-tarjeta-lista>
